{% extends 'base.html.twig' %}

{% block body %}
<div class="site-content">
  <div class="site-content__grid">

    {{ include('stats.html.twig') }}

    <section class="leaderboard">
      {# Loop through items. #}
      <h2>Leaderboard</h2>

      {% for user in users %}
          <article class="leaderboard__item">
            <div class="position">{{loop.index}}</div>

          <div class="details">
            <div class="avatar">
              <div class="avatar__image"></div>
            </div>
            <h2 class="name">{{user.name}}</h2>
            <div class="steps">
              <div class="steps__value">{{user.steps}}</div>
              <div class="steps__label">Steps</div>
            </div>
            <div class="progress">
              <span class="progress__bar{{user.percentage == 100 ? ' progress__bar--full' : ''}}" style="width: {{user.percentage}}%;"></span>
            </div>
          </div>
        </article>
      {% endfor %}
    </section
  </div>
</div>
{% endblock %}